################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/BlazorMauiApp1/bin
/BlazorMauiApp1/obj
/BlazorMauiApp1/BlazorMauiApp1.csproj.user
